<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Preview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Email Preview</h1>
        <p>To: {{ form.recipient.value }}</p>
        <p>Subject: {{ form.subject.value }}</p>
        <p>Message: {{ form.message.value }}</p>
        <p>GIF Keyword: {{ form.keyword.value }}</p>
        <p>Language: {{ form.language.value }}</p>
        <div>
            {% for gif_url in gif_urls %}
                <img src="{{ gif_url }}" alt="GIF">
                <form method="post" action="{% url 'send_email' %}">
                    {% csrf_token %}
                    <input type="hidden" name="recipient" value="{{ form.recipient.value }}">
                    <input type="hidden" name="message" value="{{ form.message.value }}">
                    <input type="hidden" name="gif_url" value="{{ gif_url }}">
                    <input type="hidden" name="language" value="{{ form.language.value }}">

                    <button type="submit" class="btn btn-success">Send Email with this GIF</button>
                </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>
